canvas {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 900px;
  height: 900px;
  background-color: 'black';
}

#ui {
  position: absolute;
  background-color: red;
  left: 5px;
  top: 905px;
  width: 900px;
  height: 75px;
}
